@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


/* VARS */

:root {
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-1: hsl(205, 77%, 27%);
    --clr-primary-1: hsl(205, 72%, 37%);
    --clr-primary-1: hsl(205, 63%, 48%);
    /* Main Color */
    --clr-primary-1: hsl(205, 78%, 60%);
    /* lighter shades of primary */
    --clr-primary-1: hsl(205, 89%, 70%);
    --clr-primary-1: hsl(205, 90%, 76%);
    --clr-primary-1: hsl(205, 86%, 81%);
    --clr-primary-1: hsl(205, 90%, 88%);
    --clr-primary-1: hsl(205, 100%, 96%);
}